/node_modules
/public/hot
/public/fonts
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/app/Console/Commands/DevCommand.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
